<div class="grid-container">
    <div class="grid-x grid-margin-x relative">
        <div class="tools">
            <span tooltip="Edit comment" *ngIf="canUpdate" (click)="isEditing = true"><i class="fas fa-edit"
                                                                                         *ngIf="canUpdate"
                                                                                         (click)="isEditing = true"></i></span>
            <span tooltip="Delete comment" *ngIf="canDelete" (click)="onDelete.emit(data.articleCommentId)"><i
                class="fas fa-trash"></i></span>
        </div>
        <div class="cell small-1">
            <img *ngIf="data.user"
                 [src]="'https://www.habbo.com/habbo-imaging/avatarimage?user=' + data.user.habbo + '&gesture=nrm&direction=2&head_direction=2&headonly=1'">
        </div>
        <div class="cell small-8" *ngIf="!isEditing" [innerHTML]="content">

        </div>
        <div class="cell small-8" *ngIf="isEditing">
            <textarea [(ngModel)]="data.content"></textarea>

            <button class="blue" (click)="onUpdate()">Save</button>
        </div>
        <div class="cell small-12">
            <em>Comment by: {{data.user.username}}</em>
        </div>
    </div>
</div>
