<div class="grid-x grid-margin-x">
    <div class="cell small-12">
        <span *ngIf="slot.isBooked">You are currently editing the slot, you can change the booked user etc or just unbook it below</span>
        <span *ngIf="!slot.isBooked">{{isRadio ? 'Click' : 'Select an event below and click'}} the button below to book this slot</span>

        <div *ngIf="isBookingForEnabled">
            <label for="username" class="display-block">Username of user to book for, leave empty for yourself</label>
            <input id="username" type="text" [(ngModel)]="username"/>
        </div>

        <div *ngIf="!isRadio">
            <label for="event" class="display-block">Event</label>
            <select id="event" [(ngModel)]="event">
                <option *ngFor="let option of events" [ngValue]="option">
                    {{ option.name }}
                </option>
            </select>
        </div>
    </div>
</div>
