<app-content header="Articles" [actions]="contentActions" (onAction)="onCreateNew()">
    <div class="grid-x grid-margin-x">
        <div class="cell small-3">
            <label for="title" class="display-block">Title</label>
            <input id="title" type="text" [(ngModel)]="params.title" (ngModelChange)="onFilterChange()"/>
        </div>
        <div class="cell small-3">
            <label for="type" class="display-block">Type</label>
            <select id="type" [(ngModel)]="params.type" (ngModelChange)="onFilterChange()">
                <option [ngValue]="undefined">Any</option>
                <option [ngValue]="'0'">Guide</option>
                <option [ngValue]="'1'">News</option>
                <option [ngValue]="'2'">Site News</option>
            </select>
        </div>
        <div class="cell small-3">
            <label for="isApproved" class="display-block">Is Approved</label>
            <select id="isApproved" [(ngModel)]="params.isApproved" (ngModelChange)="onFilterChange()">
                <option [ngValue]="undefined">Any</option>
                <option [ngValue]="'1'">Yes</option>
                <option [ngValue]="'0'">No</option>
            </select>
        </div>
        <div class="cell small-3">
            <div class="checkbox-container checkbox-container-align-with-input">
                <label class="checkbox-label">
                    <input type="checkbox"
                           [checked]="params.isExactSearch"
                           (change)="params.isExactSearch = !params.isExactSearch; onFilterChange();">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Is exact search
                    </span>
                </label>
            </div>
        </div>
    </div>
    <app-table [headers]="headers" [rows]="rows" (onAction)="onAction($event)"></app-table>
</app-content>

<app-pagination [page]="data.page" [total]="data.total"></app-pagination>
