a {
    width: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8a8787;
}

.page-no-click {
    pointer-events: none;
}

button {
    padding: 12px;
    text-align: center;
    display: inline-block;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .18), inset 0 0 0 2px rgba(255, 255, 255, .18), 0 2px 0 rgba(0, 0, 0, 0.09);
    margin: 0;
    font-size: 11px;
    background-color: #70748b;
    outline: 0;
    color: white;
    cursor: pointer;
}

.current {
    padding: 10px;
    font-weight: bold;
}

.items {
    background: -webkit-linear-gradient(top, #fcfcfc 0, #eeeeee 100%);
    text-align: center;
    display: inline-block;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .18), inset 0 0 0 2px rgba(255, 255, 255, .18), 0 2px 0 rgba(0, 0, 0, 0.09);
    margin: 0 5px 0 0;
    font-size: 11px;
    border-radius: 3px;
    min-width: 30px;
}

.numbers {
    text-align: center;
}

.previous {
    margin: 0 0 10px 0;
    float: left;
    cursor: pointer;
    color: #ffffff;
}

.next {
    float: right;
}

.previous:disabled {
    cursor: no-drop !important;
    opacity: 0.6;
    color: #ffffff;
}

.next:disabled {
    cursor: no-drop !important;
    opacity: 0.6;
    color: #ffffff;
}

.pager {
    margin-bottom: 16px;
    height: 37px;
    position: relative;
}
