<app-content [header]="data.groupId ? 'Editing: ' + data.name : 'Creating: ' + data.name " [actions]="actions"
             (onAction)="onAction($event)">

    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <label for="name" class="display-block">Name</label>
            <input id="name" type="text" [(ngModel)]="data.name"/>
        </div>
        <div class="cell small-6">
            <label for="displayName" class="display-block">
                Display name
                <span tooltip="Name displayed on bar etc, fallback to name if empty"><i class="fas fa-info-circle"></i></span>
            </label>
            <input id="displayName" type="text" [(ngModel)]="data.displayName"/>
        </div>
        <div class="cell small-6">
            <label for="immunity" class="display-block">
                Immunity
                <span tooltip="Immunity of the group, you can only set lower then your own"><i
                    class="fas fa-info-circle"></i></span>
            </label>
            <input id="immunity" type="number" min="0" max="100" [(ngModel)]="data.immunity"/>
        </div>
    </div>
</app-content>

<app-content header="Userbar">

    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <label for="nameColor" class="display-block">Bar style</label>
            <input id="nameColor" type="text" [(ngModel)]="data.nameColor"/>

            <label>Preview:</label>
            <span [style.color]="data.nameColor">{{data.displayName ? data.displayName : data.name}}</span>
        </div>
        <div class="cell small-6">
            <label for="barStyle" class="display-block">Bar style</label>
            <textarea id="barStyle" [(ngModel)]="data.barStyle"></textarea>

            <label>Preview:</label>
            <div class="userbar-base" [style]="data.barStyle">{{data.displayName ? data.displayName : data.name}}</div>
        </div>
    </div>

</app-content>

<app-content header="Staff Permissions">
    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input [disabled]="!authUser.staffPermissions.CAN_BOOK_RADIO" type="checkbox"
                           [checked]="data.staffPermissions.CAN_BOOK_RADIO"
                           (change)="data.staffPermissions.CAN_BOOK_RADIO = !data.staffPermissions.CAN_BOOK_RADIO">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can book radio
                        <span tooltip="Gives access to the radio timetable etc"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_BOOK_EVENTS"
                           [checked]="data.staffPermissions.CAN_BOOK_EVENTS"
                           (change)="data.staffPermissions.CAN_BOOK_EVENTS = !data.staffPermissions.CAN_BOOK_EVENTS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can book Events
                        <span tooltip="Gives access to the events timetable"><i class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_UNBOOK_OTHERS_RADIO"
                           [checked]="data.staffPermissions.CAN_UNBOOK_OTHERS_RADIO"
                           (change)="data.staffPermissions.CAN_UNBOOK_OTHERS_RADIO = !data.staffPermissions.CAN_UNBOOK_OTHERS_RADIO">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can unbook others on radio
                        <span tooltip="Can edit radio timetable slots (unbook, change dj etc)"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_UNBOOK_OTHERS_EVENTS"
                           [checked]="data.staffPermissions.CAN_UNBOOK_OTHERS_EVENTS"
                           (change)="data.staffPermissions.CAN_UNBOOK_OTHERS_EVENTS = !data.staffPermissions.CAN_UNBOOK_OTHERS_EVENTS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can unbook others on events
                        <span tooltip="Can edit events timetable slots (unbook, change host, event etc)"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_WRITE_ARTICLES"
                           [checked]="data.staffPermissions.CAN_WRITE_ARTICLES"
                           (change)="data.staffPermissions.CAN_WRITE_ARTICLES = !data.staffPermissions.CAN_WRITE_ARTICLES">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can write articles
                        <span tooltip="Gives access to write articles"><i class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_MANAGE_ARTICLES"
                           [checked]="data.staffPermissions.CAN_MANAGE_ARTICLES"
                           (change)="data.staffPermissions.CAN_MANAGE_ARTICLES = !data.staffPermissions.CAN_MANAGE_ARTICLES">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can manage articles
                        <span tooltip="Gives access to edit, delete and approve articles"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_KICK_DJ_OFF_AIR"
                           [checked]="data.staffPermissions.CAN_KICK_DJ_OFF_AIR"
                           (change)="data.staffPermissions.CAN_KICK_DJ_OFF_AIR = !data.staffPermissions.CAN_KICK_DJ_OFF_AIR">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can kick DJs off air
                        <span tooltip="Can kick the current DJ off air"><i class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_MANAGE_EVENT_TYPES"
                           [checked]="data.staffPermissions.CAN_MANAGE_EVENT_TYPES"
                           (change)="data.staffPermissions.CAN_MANAGE_EVENT_TYPES = !data.staffPermissions.CAN_MANAGE_EVENT_TYPES">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can manage event types
                        <span tooltip="Can create, edit or delete event types"><i class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.staffPermissions.CAN_UPLOAD_RESOURCES"
                           [checked]="data.staffPermissions.CAN_UPLOAD_RESOURCES"
                           (change)="data.staffPermissions.CAN_UPLOAD_RESOURCES = !data.staffPermissions.CAN_UPLOAD_RESOURCES">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can upload resources
                        <span tooltip="Gives access to upload resources to the site"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</app-content>

<app-content header="Admin Permissions">
    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.adminPermissions.CAN_MANAGE_GROUPS"
                           [checked]="data.adminPermissions.CAN_MANAGE_GROUPS"
                           (change)="data.adminPermissions.CAN_MANAGE_GROUPS = !data.adminPermissions.CAN_MANAGE_GROUPS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can manage user groups
                        <span tooltip="Can create, edit etc groups based on their immunity"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.adminPermissions.CAN_MANAGE_USER_BASICS"
                           [checked]="data.adminPermissions.CAN_MANAGE_USER_BASICS"
                           (change)="data.adminPermissions.CAN_MANAGE_USER_BASICS = !data.adminPermissions.CAN_MANAGE_USER_BASICS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can manage basic user
                        <span tooltip="Can edit name, habbo etc on the user"><i class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.adminPermissions.CAN_MANAGE_USER_GROUPS"
                           [checked]="data.adminPermissions.CAN_MANAGE_USER_GROUPS"
                           (change)="data.adminPermissions.CAN_MANAGE_USER_GROUPS = !data.adminPermissions.CAN_MANAGE_USER_GROUPS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can manage a users groups
                        <span tooltip="Can add or remove groups to a user"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.adminPermissions.CAN_MANAGE_WEBSITE_SETTINGS"
                           [checked]="data.adminPermissions.CAN_MANAGE_WEBSITE_SETTINGS"
                           (change)="data.adminPermissions.CAN_MANAGE_WEBSITE_SETTINGS = !data.adminPermissions.CAN_MANAGE_WEBSITE_SETTINGS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can manage the website settings
                        <span tooltip="Can manage the items in website settings"><i
                            class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="cell small-6">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" [disabled]="!authUser.adminPermissions.CAN_SEE_LOGS"
                           [checked]="data.adminPermissions.CAN_SEE_LOGS"
                           (change)="data.adminPermissions.CAN_SEE_LOGS = !data.adminPermissions.CAN_SEE_LOGS">
                    <span class="checkbox-custom"></span>
                    <span class="label">
                        Can see logs
                        <span tooltip="Can see user, staff and admin logs"><i class="fas fa-info-circle"></i></span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</app-content>
