<app-content header="Staff List" [actions]="contentActions" (onAction)="onContentAction($event)">
    <div class="grid-x grid-margin-x">
        <div class="cell small-10">
            <label for="group" class="display-block">Group</label>
            <select id="group" [(ngModel)]="selectedGroup">
                <option [ngValue]="null">Select group...</option>
                <option *ngFor="let group of selectableGroups" [ngValue]="group">
                    {{ group.name }}
                </option>
            </select>
        </div>
        <div class="cell small-2 add-button">
            <button class="green" (click)="addGroup()">Add</button>
        </div>

        <div class="cell small-12">
            <app-table [headers]="headers" [rows]="rows" (onAction)="onAction($event)"></app-table>
        </div>
    </div>
</app-content>
