<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-8">
            <app-content header="Register" [actions]="registerAction" (onAction)="onRegister()">
                <form (ngSubmit)="onRegister()">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">

                            <div class="cell small-6">
                                <label for="username" class="display-block">Username</label>
                                <input [(ngModel)]="data.username" name="username" type="text" id="username"
                                       placeholder="Username"/>
                            </div>
                            <div class="cell small-6">
                                <label for="habbo" class="display-block">
                                    Habbo - "wishhabbo-register" as a motto on habbo
                                    <span tooltip="Your habbo need to be at least one week old"><i
                                        class="fas fa-info-circle"></i></span>
                                </label>
                                <input [(ngModel)]="data.habbo" name="habbo" type="text" id="habbo"
                                       placeholder="Habbo"/>
                            </div>
                            <div class="cell small-6">
                                <label for="password" class="display-block">Password</label>
                                <input [(ngModel)]="data.password" name="password" type="password" id="password"
                                       placeholder="Password"/>
                            </div>
                            <div class="cell small-6">
                                <label for="repassword" class="display-block">Re-password</label>
                                <input [(ngModel)]="data.repassword" name="repassword" type="password" id="repassword"
                                       placeholder="Re-password"/>
                            </div>
                            <div class="cell small-12 checkboxes">
                                <div class="checkbox-container">
                                    <label class="checkbox-label">
                                        <input type="checkbox"
                                               [checked]="data.approvesGdpr"
                                               (change)="data.approvesGdpr = !data.approvesGdpr;">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">
                                            I accept the GDPR
                                        </span>
                                    </label>
                                </div>

                                <div class="checkbox-container">
                                    <label class="checkbox-label">
                                        <input type="checkbox"
                                               [checked]="data.approvesTos"
                                               (change)="data.approvesTos = !data.approvesTos;">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">
                                            I accept the Terms of Service
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </app-content>
        </div>

        <div class="cell small-12 medium-4">
            <app-content header="Information">
                Oh so you are signing up to WishHabbo? Awesome, welcome! <br/>
                So just fill in the information to the left/top (depending on if you are on a desktop or not) and get
                going!
                Join the fun with the awesome music on the radio, keep up to date with our articles and what not!
                <br/>
                <br/>
                Also reminder with the habbo motto, if it says it's wrong, make sure there isn't any spaces etc in your
                motto :)
            </app-content>
        </div>
    </div>
</div>
