#wrapper {
    bottom: 5px;
    float: right;
    position: fixed;
    right: -16px;
    z-index: 9999;
}

.site-notification {
    display: inline-block;
    background-color: #eee;
    letter-spacing: 2px;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid rgba(95, 95, 95, 0.3);
    border-bottom-width: 2px;
    margin-right: 10px;

    color: #ffffff;
    outline: none;

    border-radius: 4px;
    clear: right;
    float: right;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    right: 21px;
    top: 0;
    min-width: 15rem;

    animation: fadeIn 1.5s;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
}

.site-notification .message {
    margin-top: 5px;
    display: block;
}

.site-notification-hidden {
    opacity: 0;
}

.site-notification .dismiss {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.site-notification-info {
    background-color: #758eb3;
}

.site-notification-warning {
    background-color: #75b37b;
}

.site-notification-error {
    background-color: #b37575;
}

.site-notification-success {
    background-color: #75b37b;
}
