:host {
    position: fixed;
    background-color: #000000bd;
    height: 3rem;
    width: 100%;
    display: block;

    top: 0;
    left: 0;
    z-index: 1;
}

.not-logged-in {
    margin: 8px;
}

.logged-in-icon {
    display: inline-block;
    font-size: 12px;
    margin: 10px 25px 0 0;
}

.slash {
    font-size: 13px;
    margin: 0 10px 0 5px;
}

.main-navigation-item {
    display: inline-block;
    margin: 10px;
}

.main-navigation-item:nth-child(1) {
    margin-left: 0;
}

.main-navigation-item > a {
    color: #ffffff;
}

.welcome {
    font-size: 0.75rem;
    color: #ffffff;
    margin-top: 6px;
    position: relative;
}

.avatar {
    position: absolute;
    overflow: hidden;
    height: 2.59rem;
    width: 6rem;
    top: 0;
    right: 0;
}

.avatar img {
    position: absolute;
    top: -20px;
    right: 20px;
}

.logged-out-avatar img {
    filter: brightness(0) drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}

.no-padding {
    padding: 0;
}
