<nav>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-8">
                <div class="main-navigation-item" *ngFor="let mainItem of items">
                    <span>
                        <i *ngIf="mainItem.icon" class="fa" aria-hidden="true" [ngClass]="mainItem.icon"></i>
                        {{mainItem.title}}
                    </span>
                </div>
            </div>
            <div class="cell small-3 small-offset-1 welcome">
                <div *ngIf="!data.isLoggedIn; else isLoggedIn">
                    Hello, Welcome to WhishHabbo!
                    <br/>
                    <a class="register">Register</a>
                    or
                    <a class="login" routerLink="/auth/login">Login</a>
                </div>
                <ng-template #isLoggedIn>
                    Hello, Welcome {{data.username}}!
                    <br/>
                    <a class="login" (click)="onLogout()">Logout</a>
                </ng-template>
                <div class="avatar" [ngClass]="data.isLoggedIn ? '' : 'logged-out-avatar'">
                    <img [src]="data.avatar"/>
                </div>
            </div>
        </div>
    </div>
</nav>
