<app-content header="Forgot password">
    <div *ngIf="!data.username">
        <p>
            Fill in the username you would like to reset the password for
        </p>

        <label class="display-block">Username</label>
        <input type="text" [(ngModel)]="username"/>

        <button class="blue" (click)="onNext()">Next</button>
    </div>
    <div *ngIf="data.username">
        <p>
            Update the habbo {{timestamp.habbo}} with the given motto:
            <strong>wishhabbo-{{timestamp.timestamp}}</strong> <br/>
            and give the password you would like to update to.
        </p>

        <label class="display-block">Password</label>
        <input type="password" [(ngModel)]="data.password"/>

        <label class="display-block">Re-password</label>
        <input type="password" [(ngModel)]="data.repassword"/>

        <button class="blue" (click)="onPermform()">Perform</button>
    </div>
</app-content>
