<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-8">
            <app-content header="Forgot password" [actions]="data.username ? performAction : nextAction"
                         (onAction)="data.username ? onPermform() : onNext()">
                <div *ngIf="!data.username">
                    <p>
                        Fill in the username you would like to reset the password for
                    </p>

                    <form (ngSubmit)="onNext()">
                        <label class="display-block">Username</label>
                        <input type="text" [(ngModel)]="username" name="username"/>

                        <button type="submit" class="display-none"></button>
                    </form>
                </div>
                <div *ngIf="data.username">
                    <p>
                        Update the habbo {{timestamp.habbo}} with the given motto:
                        <strong>wishhabbo-{{timestamp.timestamp}}</strong> <br/>
                        and give the password you would like to update to.
                        <br/>
                        <br/>
                        This code is valid for 15 minutes from now, after you have resetted your password make sure to
                        change your
                        motto!
                    </p>

                    <form (ngSubmit)="onPermform()">
                        <label class="display-block">Password</label>
                        <input type="password" [(ngModel)]="data.password" name="password"/>

                        <label class="display-block">Re-password</label>
                        <input type="password" [(ngModel)]="data.repassword" name="repassword"/>

                        <button type="submit" class="display-none"></button>
                    </form>
                </div>
            </app-content>
        </div>

        <div class="cell small-12 medium-4">
            <app-content header="Information">
                Damn, you forgot your password? well no worries, just follow the steps on this page and we will
                get you back on the horse so to say! But please remember, after you done this. Change your motto!
            </app-content>
        </div>
    </div>
</div>
