:host {
    background-color: #ffffff;
    display: block;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 15px;
}

.title {
    padding: 7px 10px;
    border: 1px solid #737373;
    -moz-box-shadow: inset 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 1px #ffffff;
    box-shadow: inset 0 0 1px #ffffff;
    color: #ffffff;

    position: relative;
}

.content {
    margin-top: 10px;
    padding: 0 5px;
}

.actions {
    position: absolute;
    right: 0;
    top: 0;
}

.action {
    outline: none;
    cursor: pointer;
    padding: 11px;
    display: inline-block;
    background-color: #9a7993;
    box-shadow: inset 0 0 1px #ffffff;
}

.action:hover, .active {
    background-color: #a27f9b;
}
