<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-9">
            <app-content [header]="'Article: ' + data.article.title">
                I assume we should have title + author here?
            </app-content>

            <app-content header="Content">
                <div [innerHTML]="sanitizedContent"></div>
            </app-content>
        </div>
        <div class="cell medium-3">
            <app-content header="Badges">
                <div class="text-align-center article-badges">
                    <img *ngFor="let badgeId of data.article.badges" appHabboBadge [code]="badgeId"/>
                </div>
            </app-content>

            <app-content header="Mark complete here when it actually works" *ngIf="isLoggedIn">
                <div *ngIf="!data.isCompleted">
                    Have you cleared this already and wanna keep track? Mark this article as completed
                    and you can keep track if you got the badge easier. <br/>
                    <div class="text-align-center">
                        <button class="green" (click)="markComplete()">Complete</button>
                    </div>
                </div>
                <div *ngIf="data.isCompleted">
                    You have already completed this guide and got the badges! Hurray!
                </div>
            </app-content>

            <app-content header="Other badges">
                <div class="grid-container no-padding">
                    <div class="grid-x text-align-center">
                        <div *ngFor="let badge of data.badges" class="cell small-6 medium-3">
                            <app-habbo-badge [badge]="badge"></app-habbo-badge>
                        </div>
                    </div>
                </div>
            </app-content>
        </div>
    </div>
</div>
