<div class="slideshow-container">

    <div *ngFor="let slide of images" class="mySlides fade" [ngClass]="slide.isActive ? 'isActive' : ''">
        <img [src]="slide.link">
        <div class="text" *ngIf="slide.caption">{{slide.caption}}</div>
    </div>

    <a class="prev" (click)="previousSlide()">&#10094;</a>
    <a class="next" (click)="nextSlide()">&#10095;</a>

</div>
<br>

<div class="text-align-center">
    <span *ngFor="let image of images; let index = index;" [ngClass]="index === currentImage ? 'active' : ''"
          class="dot" (click)="goTo(index)"></span>
</div>
