:host {
    background-image: url(/assets/images/banner.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 16rem;
    display: block;

    border-bottom: 3px solid #ffffff;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    padding-top: 3rem;
}
