:host {
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

:host.visible {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: #000000b5;
}

.dialog-wrapper {
    background-color: #fefefe;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    transition: 0.3s;
    margin-top: -1000px;
}

.show {
    margin-top: 0;
}
