:host {
    display: block;
    width: 100%;
}

h5 {
    color: #bdbdbd;
}

.badge-style {
    text-align: center;
}

.badge-style > img {
    width: 50px;
    height: 50px;
    background-color: #eaeae6;
    border-radius: 5px;
    transition: 0.6s;
    border: 1px solid #d2d2cf;
    padding: 4px;
    margin: 5px 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.35);
    -moz-box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.35);
    box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.35);
}

.badge-style > img:hover {
    background-color: #9a7993;
}

[tooltip] {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    transition: visibility 1s linear, opacity 1s linear;
    cursor: pointer;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    font-weight: normal;
}

[tooltip-position='left']::before {
    left: 0;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before {
    left: 50%;
}

[tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
    font-size: 11px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    white-space: pre;
    font-weight: normal;
}

[tooltip-position='left']::after {
    left: 0;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after, [tooltip]:hover::before {
    visibility: visible;
    opacity: 1;
}