:host {
    display: block;
    width: 100%;
}

h5 {
    color: #bdbdbd;
}

.badge-style > img {
    width: 50px;
    height: 50px;
    background-color: #eaeae6;
    border-radius: 5px;
    transition: 0.6s;
    border: 1px solid #d2d2cf;
    padding: 4px;
    margin: 5px 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.35);
    -moz-box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.35);
    box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.35);
}

.badge-style > img:hover {
    background-color: #9a7993;
}