<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-8">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <h5>Latest Habbo Guides</h5>
                    </div>
                    <div class="cell small-4" *ngFor="let article of articles">
                        <app-article [article]="article"></app-article>
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <h5>Latest Habbo News</h5>
                    </div>
                    <div class="cell small-4" *ngFor="let article of articles">
                        <app-article [article]="article"></app-article>
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <h5>Latest Site News</h5>
                    </div>
                    <div class="cell small-4" *ngFor="let article of articles">
                        <app-article [article]="article"></app-article>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell small-4">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <h5>Todays Events</h5>
                    </div>
                    <div class="cell small-12">
                        <h5>Latest Badges</h5>
                    </div>
                    <div class="cell small-12">
                        <h5>Wish Staff Starlight</h5>
                    </div>
                    <div class="cell small-12">
                        <h5>Wish Twitter</h5>
                    </div>
                    <div class="cell small-12">
                        <h5>Activity Feed</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
