:host {
    display: block;
    width: 100%;
}

h5 {
    color: #bdbdbd;
}

.twitter-wrapper {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.upcoming-event {
    padding: 11px 5px;
    position: relative;
}

.upcoming-event img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
}
