:host {
    display: block;
    width: 100%;
}

h5 {
    color: #bdbdbd;
}

.twitter-wrapper {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.upcoming-event {
    padding: 5px;
}
