<div class="grid-x grid-margin-x">
    <div class="cell small-3">
        <app-content header="Radio Slots">
            <div class="stats-box">
                <i class="fas fa-headphones"></i>

                <span>{{data.radioSlotCount}}</span>
            </div>
        </app-content>
    </div>
    <div class="cell small-3">
        <app-content header="Event Slots">
            <div class="stats-box">
                <i class="fas fa-gamepad"></i>
                <span>{{data.eventSlotCount}}</span>
            </div>
        </app-content>
    </div>
    <div class="cell small-3">
        <app-content header="Staff Members">
            <div class="stats-box">
                <i class="fas fa-users-cog"></i>
                <span>{{data.staffCount}}</span>
            </div>
        </app-content>
    </div>
    <div class="cell small-3">
        <app-content header="Users">
            <div class="stats-box">
                <i class="fas fa-users"></i>
                <span>{{data.userCount}}</span>
            </div>
        </app-content>
    </div>
</div>
<app-content header="Dashboard">
    Hola
</app-content>
