<div class="radio dark-bottom-shadow">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-8">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 row marquee">
                        <span>Håll om mig - Nanne grönvall</span>
                    </div>
                    <div class="cell small-6 row">
                        <span><i class="fas fa-users"></i> 100</span>
                    </div>
                    <div class="cell small-6 row">
                        <span><i class="fas fa-heart"></i> 42</span>
                    </div>
                    <div class="cell small-12 row">
                        <span>Next DJ up is <strong>erico!</strong></span>
                    </div>
                </div>
            </div>
            <div class="cell small-4 text-align-center avatar">
                <img
                    src="https://www.habbo.com/habbo-imaging/avatarimage?user=bear94&gesture=nrm&direction=4&head_direction=2&size=m&action=sit"/>
            </div>
            <div class="actions">
                <button class="green" (click)="radioService.toggleRadio()"><i
                    [ngClass]="radioService.isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>
                </button>
                <button class="blue" (click)="radioService.doUpVolume()"><i class="fas fa-volume-up"></i></button>
                <button class="blue" (click)="radioService.doDownVolume()"><i class="fas fa-volume-down"></i></button>
                <button class="red"><i class="fas fa-heart"></i></button>
                <button class="blue" (click)="openRequest()"><i class="fa fa-comment"></i></button>
            </div>
        </div>
    </div>
</div>
