.radio {
    width: 100%;
    height: 8.5rem;
    background-color: #ffffffad;
    margin-top: 2rem;
    padding: 5px;
    border-radius: 3px;
}

.row {
    background-color: #ffffff6b;
    border-radius: 3px;
    padding: 2px 9px;
    margin-bottom: 5px;
}

.avatar {
    max-height: 83px;
}

button {
    margin-right: 10px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.volume {
    display: inline-block;
    position: relative;
}

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    overflow: hidden;
    height: 26px;
    width: 135px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    top: -15px;
    position: absolute;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid rgba(95, 95, 95, 0.3);
    border-bottom-width: 2px;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #758eb3;
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #758eb3;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #758eb3;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}
