<div class="radio dark-bottom-shadow is-desktop">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-8">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 row marquee">
                        <span>{{ stats.song }}</span>
                    </div>
                    <div class="cell small-6 row">
                        <span><i class="fas fa-users"></i> {{ stats.listeners }}</span>
                    </div>
                    <div class="cell small-6 row">
                        <span><i class="fas fa-heart"></i> {{ stats.likes }}</span>
                    </div>
                    <div class="cell small-12 row">
                        <span>Next DJ up is <strong>{{ stats.nextDj }}</strong></span>
                    </div>
                </div>
            </div>
            <div class="cell small-4 text-align-center avatar">
                <img
                    [src]="'https://www.habbo.com/habbo-imaging/avatarimage?user=' + stats.habbo + '&gesture=nrm&direction=4&head_direction=2&size=m&action=sit'"/>
            </div>
            <div class="actions">
                <button class="green" (click)="radioService.toggleRadio()"><i
                    [ngClass]="radioService.isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>
                </button>
                <button class="red" (click)="radioService.doLikeDj()"><i class="fas fa-heart"></i></button>
                <button class="blue" (click)="openRequest()"><i class="fa fa-comment"></i></button>
                <div class="volume">
                    <input [(ngModel)]="radioService.volume"
                           (ngModelChange)="radioService.setVolume($event)" type="range">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="radio dark-bottom-shadow is-mobile">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 row marquee">
                        <span>{{ stats.song }}</span>
                    </div>
                    <div class="cell small-6 row">
                        <span><i class="fas fa-users"></i> {{ stats.listeners }}</span>
                    </div>
                    <div class="cell small-6 row">
                        <span><i class="fas fa-heart"></i> {{ stats.likes }}</span>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button class="green" (click)="radioService.toggleRadio()"><i
                    [ngClass]="radioService.isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>
                </button>
                <button class="red" (click)="radioService.doLikeDj()"><i class="fas fa-heart"></i></button>
                <button class="blue" (click)="openRequest()"><i class="fa fa-comment"></i></button>
            </div>
        </div>
    </div>
</div>
