/** General styles **/
@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    min-height: 101vh;
    overflow-x: hidden;
    color: #656565;
}

table, th {
    color: #656565;
}

body {
    background-color: #eaeae6;
}

.grid-container {
    max-width: 85rem;
}

.dark-bottom-shadow {
    -webkit-box-shadow: 0 5px 5px 0 rgba(64, 64, 64, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(64, 64, 64, 0.75);
    box-shadow: 0 5px 5px 0 rgba(64, 64, 64, 0.75);
}

.gray-bottom-shadow {
    -webkit-box-shadow: 0 5px 5px 0 rgba(177, 177, 177, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(177, 177, 177, 0.75);
    box-shadow: 0 5px 5px 0 rgba(177, 177, 177, 0.75);
}


a {
    color: #9a7993;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

span {
    font-size: 11px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.display-block {
    display: block;
}

/** Dropdown menu **/
.dropdown-menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    z-index: 1;
    border-radius: 2px;
    margin-top: 10px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-meny-divider {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 0;
}

/** Button Styles **/
button, button[type='submit'] {
    display: inline-block;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid rgba(95, 95, 95, 0.3);
    border-bottom-width: 2px;
    margin-right: 10px;

    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}

button.blue {
    background-color: #758eb3;
}

button.blue:hover {
    background-color: #7a93b9;
}

button.red {
    background-color: #b37575;
}

button.red:hover {
    background-color: #ce8787;
}

button.green {
    background-color: #75b37b;
}

button.green:hover {
    background-color: #7fbf85;
}

/** Form Styles **/
label {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.8;
    color: #9e9e9e;
}

input, input[type='text'], select {
    display: block;
    padding: 7px 10px;
    border: 1px solid #bbbbbb;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    font-size: 11px;
    width: 100%;
    outline: none;
    color: #9e9e9e;
    background-position: right 0 center;
}

/** Click dropdown **/
.actions {
    text-align: right;
    position: relative;
}

.actions > .action {
    outline: none;
    cursor: pointer;
}

.action-list {
    display: none;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 rgba(115, 115, 115, 0.29), inset 0 0 0 2px #fff, 0 2px 0 rgba(0, 0, 0, 0.05);
    text-align: left;
    border: 1px solid rgb(223, 223, 223);
    font-size: 11px;
    width: auto;
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 10;
    min-width: 161px;
    color: #656565;
}

.action-list:hover {
    display: block;
}

.action-list div {
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
}

.action-list div:hover {
    background: #f7f7f7;
}

i:focus ~ .action-list {
    display: block;
}
