/** General styles **/
@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    min-height: 101vh;
    overflow-x: hidden;
    color: #656565;
}

table, th {
    color: #696969;
    font-size: 11px;
}

body {
    background-color: #eaeae6;
}

.grid-container {
    max-width: 85rem;
}

.dark-bottom-shadow {
    -webkit-box-shadow: 0 5px 5px 0 rgba(64, 64, 64, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(64, 64, 64, 0.75);
    box-shadow: 0 5px 5px 0 rgba(64, 64, 64, 0.75);
}

.gray-bottom-shadow {
    -webkit-box-shadow: 0 5px 5px 0 rgba(177, 177, 177, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(177, 177, 177, 0.75);
    box-shadow: 0 5px 5px 0 rgba(177, 177, 177, 0.75);
}


a {
    color: #9a7993;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

span {
    font-size: 11px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.display-block {
    display: block;
}

/** Dropdown menu **/
.dropdown-menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    z-index: 1;
    border-radius: 2px;
    margin-top: 10px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-meny-divider {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 0;
}

.userbar-base {
    text-shadow: rgba(93, 79, 79, 0.51) 0 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.12) 0 0 0 2px inset, rgba(0, 0, 0, 0.17) 0 2px 0;
    width: 200px;
    margin-top: 5px;
    text-align: center;
    color: white;
    padding: 8px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
}

/** Button Styles **/
button, button[type='submit'] {
    display: inline-block;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid rgba(95, 95, 95, 0.3);
    border-bottom-width: 2px;
    margin-right: 10px;

    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}

button.blue {
    background-color: #758eb3;
}

button.blue:hover {
    background-color: #7a93b9;
}

button.red {
    background-color: #b37575;
}

button.red:hover {
    background-color: #ce8787;
}

button.green {
    background-color: #75b37b;
}

button.green:hover {
    background-color: #7fbf85;
}

button.gray {
    background-color: #cacaca;
}

button.gray:hover {
    background-color: #b7b7b7;
}

/** Form Styles **/
label {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.8;
    color: #9e9e9e;
}

input[type='text'], input[type='password'], input[type='number'], select {
    display: block;
    padding: 7px 10px;
    border: 1px solid #bbbbbb;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    font-size: 11px;
    width: 100%;
    outline: none;
    color: #9e9e9e;
    background-position: right 0 center;
}

/** Click dropdown **/
.actions {
    text-align: right;
    position: relative;
}

.actions > .action {
    outline: none;
    cursor: pointer;
}

.action-list {
    display: none;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 rgba(115, 115, 115, 0.29), inset 0 0 0 2px #fff, 0 2px 0 rgba(0, 0, 0, 0.05);
    text-align: left;
    border: 1px solid rgb(223, 223, 223);
    font-size: 11px;
    width: auto;
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 10;
    min-width: 161px;
    color: #656565;
}

.action-list:hover {
    display: block;
}

.action-list div {
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
}

.action-list div:hover {
    background: #f7f7f7;
}

i:focus ~ .action-list {
    display: block;
}

/** Tooltip **/

[tooltip] {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    transition: visibility 1s linear, opacity 1s linear;
    cursor: pointer;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    font-weight: normal;
}

[tooltip-position='left']::before {
    left: 0;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before {
    left: 50%;
}

[tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
    font-size: 11px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    white-space: pre;
    font-weight: normal;
}

[tooltip-position='left']::after {
    left: 0;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after, [tooltip]:hover::before {
    visibility: visible;
    opacity: 1;
}

/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #f7f7f7;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
}

.checkbox-label input:disabled ~ .checkbox-custom {
    background-color: #d8d8d8;
    border: 2px solid #ababab;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #e6e6e6;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #9a7993;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #9a7993;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}


/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-container {
    display: block;
    position: relative;
    margin: 10px 0;
    min-height: 20px;
}

.checkbox-container .label {
    position: absolute;
    color: #9e9e9e;
    left: 25px;
}
