:host {
    width: 100%;
    display: block;

    background-color: hsl(0deg 0% 0% / 75%);
    color: #ffffff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    padding-top: 10px;
    font-size: 11px;

    height: 85px;
}

.social-media {
    text-align: center;
    margin-top: 15px;
}

.social-media i {
    font-size: 16px;
}

a {
    color: #ffffff;
}
