<div class="grid-container">
    <div class="grid-x grid-margin-x">

        <div class="cell small-6">
            © WishHabbo 2020. <br/>

            WishHabbo is not affiliated with, endorsed, sponsored, or specifically approved by Sulake Suomi or its
            affiliates. WishHabbo may use the trademarks and other intellectual property of Habbo, which is permitted
            under Habbo Fan Site Policy. Do not use the same password you use for Habbo for fansites or anywhere else
            except Habbo.
        </div>

        <div class="cell small-3 small-offset-3">
            <div class="grid-x grid-margin-x">
                <a href="https://twitter.com/WishHabboCOM" target="_blank" class="cell small-6 social-media">
                    <i class="fab fa-twitter"></i> <br/>
                    @WishHabboCOM
                </a>
                <a href="https://habbo.com" target="_blank" class="cell small-6 social-media">
                    <i class="fas fa-h-square"></i> <br/>
                    @Habbo
                </a>
            </div>
        </div>
    </div>
</div>
