:host {
    width: 100%;
    display: block;
    background-color: #ffffff;
    padding: 5px;

    cursor: pointer;
}

.image {
    width: 100%;
    height: 130px;
}

.title {
    color: #585858;
}

.author {
    color: #cccccc;
}
